<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCFfzsanKtSN4Q9mzrqZ-0NFR-fgxAh55k</string>
	<key>GCM_SENDER_ID</key>
	<string>123585257056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.agrigreens</string>
	<key>PROJECT_ID</key>
	<string>agri-66670</string>
	<key>STORAGE_BUCKET</key>
	<string>agri-66670.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123585257056:ios:0d5702cd9dbcaf9998ed05</string>
</dict>
</plist>